@charset "UTF-8";

header {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-right: -20px;
    height: 110px;
    background-color: rgba(86,61,124,.15);
    text-align: center;
}

legend {
    margin-top: 10px;
}

.alinhar {
    display: inline-table;
}